body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: black;
    border-top: 10px solid black;
    background-color: #D6E5FF;
}

header {
    background: #392759;
    color: white;
    padding: 10px;
}
h1 {
    text-align: center;
}

h2 {
    color: black;
}

p {
    line-height: 1.6;
}

figure {
    margin: 10px;
}

figcaption {
    font-style: italic;
}

img {
    max-width: 100%;
}

form {
    margin-top: 20px;
    display: block;
    margin: auto;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 8px;
}
nav ul {
        display: flex;
        list-style: none;
        gap: 200px;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
        width: fit-content;
    }

nav ul li a {
    text-decoration: none;
}

.card {
  position: relative;
  width: 300px;
  height: 180px;
  padding: 20px;
  background: #6874E8;
  border-radius: 12px;
  transition: 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  background: #e8e8e8;
}

.card .description {
  opacity: 0;
  transition: 0.4s ease;
  margin-top: 10px;
}

.card:hover .description {
  opacity: 1;
}

